<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" xmlns:tools="http://schemas.android.com/tools" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ionity"
        android:label="@string/app_name"
        android:theme="@style/Theme.IonityMario">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".WatermarkService" android:exported="false" />
    </application>
</manifest>
